<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="MyApplication.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyApplication.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MyApplication.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        
        <MyApplication.Settings1>
            <setting name="CurrentCulture" serializeAs="String">
                <value>1</value>
            </setting>
        </MyApplication.Settings1>
        <MyApplication.Settings>
            <setting name="CurrentCulture" serializeAs="String">
                <value>1</value>
            </setting>
        </MyApplication.Settings>
        <MyApplication.Properties.Settings>
            <setting name="CurrentCulture" serializeAs="String">
                <value>1</value>
            </setting>
        </MyApplication.Properties.Settings>
        <MyApplication.AppSettings>
            <setting name="CurrentCulture" serializeAs="String">
                <value>1</value>
            </setting>
        </MyApplication.AppSettings>
    </userSettings>
</configuration>